.oneSec {
  display: flex;
  justify-content: center;
}
.main-banner {
  display: flex;
  justify-content: center;
  width: 99%;
  height: 655px;
  align-items: center;
  position: relative;
  &::before {
    content: url("https://templatemo.com/templates/templatemo_582_tale_seo_agency/assets/images/banner-left.png");
    top: -1px;
    left: 0;
    position: absolute;
    width: 194px;
    height: 655px;
    z-index: -1;
  }
  &::after {
    content: url("https://templatemo.com/templates/templatemo_582_tale_seo_agency/assets/images/banner-right.png");
    top: -100px;
    right: 0;
    position: absolute;
    width: 861px;
    height: 746px;
    z-index: -1;
  }
}
.container {
  width: 75%;
  display: flex;
  justify-content: start;
}
.text {
  width: 42%;
  .seo {
    margin-bottom: 30px;
    a {
      font-size: 20px;
      color: #5b03e4;
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 2px solid #decdfa;
      padding-bottom: 30px;
    }
  }
  h2 {
    font-size: 52px;
    color: #2a2a2a;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;
    em {
      font-style: normal;
      color: #5b03e4;
    }
    span {
      color: #c03afe;
    }
  }
  .tale {
    padding-right: 25%;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 30px;
    color: #afafaf;
  }
  .style {
    font-size: 14px;
    color: #fff;
    padding: 12px 30px;
    border-radius: 25px;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: all 0.3s;
}
.discover {
    background-color: #5b03e4;
    border: 1px solid #5b03e4;
  }
  .or {
    display: inline-block;
    margin: 0px 10px 0px 10px;
    color: #7a7a7a;
  }
  .check {
    border: 1px solid #c03afe;
    background-color: #c03afe;
    a{
        color: #fff;
    }
  }
}
